{% extends 'base.html' %}
{% block content %}

<section id="password reset complete" class="py-5">
	<div class="container">
		<div class="row">
			<div class="col-md-5 mx-auto">
				<div class="card">
					<div class="card-header">
						<h4><i class="far fa-check-circle"></i></i> Password reset complete</h4>
					</div>
					<div class="card-body">
						<div style="text-align: center;">
							<h5 class="m-auto">
								Your password has been reset.<br />
								You may go ahead and <a class="custom-link" href="{% url 'login' %}">sign in</a> now.
							</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}