{% extends 'base.html' %}
{% block content %}

<section id="password change" class="py-5">
	<div class="container">
		<div class="row">
			<div class="col-md-5 mx-auto">
				<div class="card">
					<div class="card-header">
						<h4><i class="fa fa-lock"></i> Change password</h4>
					</div>
					<div class="card-body">
						<form method="POST" class="form-signin">
							{% csrf_token %}
							<input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true">
							<input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
							<input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true">
							{% for field in form %}{% for error in field.errors %}
							<p style="color: red">{{ error }}</p>
							{% endfor %}{% endfor %}
							<br>
							<button class="btn btn-custom btn-block" type="submit">Update</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}