{% extends 'base.html' %}
{% block content %}

<section id="reset password" class="py-5">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mx-auto">
				<div class="card">
					<div class="card-header">
						<span class="fa-passwd-reset fa-stack">
							<i class="fa fa-undo fa-stack-2x"></i>
							<i class="fa fa-lock fa-stack-1x"></i>
						</span> <label><h4>Reset Password:</h4></label>
					</div>
					<div class="card-body">
						<form action="" method="POST">
							{% csrf_token %}
							<div class="form-group">
								<label for="username">Email address:</label>
								<input type="text" name="email" class="form-control" required><br />
							</div>
							<input type="submit" value="Reset Password" class="btn btn-custom btn-block">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



{% endblock %}