{% load static %}
<!-- Footer -->
<footer id="main-footer" class="py-4 text-white text-center">
	<img class="footer-img" src="{% static 'img/logo.png' %}" alt="Bookstore"><br />
	<p>Copyright &copy; 2020 Pram Sanghani</p>
	<div class="social">
		<a href="https://twitter.com/login" target="_blank"><i class="fab fa-twitter" data-toggle="tooltip" data-placement="top" title="Twitter"></i></a>
		<a href="https://en-gb.facebook.com/" target="_blank"><i class="fab fa-facebook" data-toggle="tooltip" data-placement="top" title="Facebook"></i></a>
		<a href="https://uk.linkedin.com/" target="_blank"><i class="fab fa-linkedin" data-toggle="tooltip" data-placement="top" title="Linkedin"></i></a>
		<a href="https://www.instagram.com/?hl=en" target="_blank"><i class="fab fa-instagram" data-toggle="tooltip" data-placement="top" title="Instagram"></i></a>
		<a href="https://www.pinterest.co.uk/" target="_blank"><i class="fab fa-pinterest" data-toggle="tooltip" data-placement="top" title="Pinterest"></i></a>
	</div>

</footer>