{% load static %}
<!-- Footer -->
<footer id="main-footer" class="py-4 text-white text-center">
	<img class="footer-img" src="{% static 'img/logo.png' %}" alt="Bookstore"><br />
	<p>Copyright &copy; 2020 Pram Sanghani</p>
	<div class="social">
		<a href="https://twitter.com/login"><i class="fab fa-twitter"></i></a>
		<a href="https://en-gb.facebook.com/"><i class="fab fa-facebook"></i></a>
		<a href="https://uk.linkedin.com/"><i class="fab fa-linkedin"></i></a>
		<a href="https://www.instagram.com/?hl=en"><i class="fab fa-instagram"></i></a>
		<a href="https://www.pinterest.co.uk/"><i class="fab fa-pinterest"></i></a>
	</div>

</footer>