{% extends 'base.html' %}
{% block title %} | Profile {% endblock %}
{% block content %}

<div class="container mt-3 col-sm-12 col-md-8 col-lg-6">
	<h1 class="text-center profile-header">Welcome {{ user.username }}</h1>
	<div row class="mb-5 mt-4">
		<div class="tab tab-border">
			<button class="tablinks" onclick="multiTab(event, 'Profile')" id="defaultOpen"
				role="tab" aria-selected="true" aria-controls="profile-tab">
				<strong>Profile</strong></button>
			<button class="tablinks" id="history-tab" onclick="multiTab(event, 'Order History')" 
				role="tab" aria-selected="false" aria-controls="order-history-tab">
				<strong>Order History</strong></button>
		</div>

		<div id="Profile" class="tabcontent">
			<div class="text-center p-3 mobile-font">
				<div class="">
					<p><strong>Registered email: </strong>{{ user.email }}</p>
					<a href="{% url 'password_change' %}"><button class="btn btn-custom mb-4">
						<i class="fa fa-lock" aria-hidden="true"></i> Change my password</button></a>
				</div>
			</div>
		</div>

		<div id="Order History" class="tabcontent">
			<div class="">
				{% include 'partials/_order_history.html' %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/profile-script.js' %}"></script>
{% endblock %}