{% extends 'base.html' %}
{% load static %}
{% block title %} | 500 Page {% endblock %}
{% block content %}

<head>
    <style>
        .container-500 {
            position: relative;
            width: 100%;
        }

        .container-500 img {
            width: 100%;
            height: auto;
        }

        .container-500 .btn {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            cursor: pointer;
        }
    </style>
</head>

<div class="container-500">
    <img class="img-500 img-fluid" src="https://pram-bookstore.s3.eu-west-2.amazonaws.com/static/img/500.gif"
        alt="500 server error">
    <a href="{% url 'index' %}">
        <button class="btn btn-custom"><i class="fas fa-home"></i> Take me home</button>
    </a>
</div>

{% endblock %}