{% extends 'base.html' %}
{% block content %}

<!-- home page carousel -->
<div class="container home_page_container">
	<div class="col-md-12">
		<div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="carousel-item">
					<img class="d-block img-fluid w-100" src="static/img/homepage1.jpg" alt="First slide">
				</div>
				<div class="carousel-item active">
					<img class="d-block img-fluid w-100" src="static/img/homepage2.jpg" alt="Second slide">
				</div>
				<div class="carousel-item">
					<img class="d-block img-fluid w-100" src="static/img/homepage3.jpg" alt="Third slide">
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
</div>

<section class="section-3">
	<div class="container mt-4">
		<h2 class="text-center mt-4 mb-4">Featured Books</h2>
		<div class="row mt-4 mb-4">
			{% if books %}
			{% for book in books %}
			<div class="col-md-4 mt-4 mb-4">
				<div class="card text-center">
					<a href="{% url 'book' book.id %}"><img class="card-img-top" src="{{ book.book_image.url }}" alt=""></a>
					<h5>{{ book.title }}</h3>
					<p>{{ book.author }}</p>
					<a href=""><button class="btn btn-custom btn-sm mb-4"><i class="fas fa-shopping-cart"></i> Add to Cart</button></a>
				</div>
			</div>
			{% endfor %}
			{% else %}
			<p>There are no books available!</p>
			{% endif %}
		</div>
	</div>
</section>

{% endblock %}