{% extends 'base.html' %}
{% block title %} | {{ book.title }} {% endblock %}
{% load bootstrap_tags %}
{% block content %}

<div class="container">
	<br/>
	<!-- Messages -->
	{% include 'partials/_messages.html' %}

	<!-- Book detail -->
	<div class="row mb-4">
		<div class="col-md-4 mt-4">
			<img class="book-cover-image" src="{{ book.book_image.url }}" alt="{{ book.title }}">
		</div>
		<div class="col-md-8 mt-4">
			<h4 class="mb-4">{{ book.title }}</h4>
			<p><strong>Synopsis</strong></p>
			<p>{{ book.description }}</p>
			<p><strong>Price:</strong> £{{ book.price }}</p>
			{% if user.is_authenticated %}
			{% if book.stock <= 0 %}
			<p><b>Out of Stock</b></p>
			{% else %}
			<a href="{% url 'cart:add_cart' book.id %}"><button class="btn btn-custom mb-4">
				<i class="fas fa-shopping-cart" aria-hidden="true"></i> Add to Cart</button></a><br>
			{% endif %}
			{% else %}
			<p><strong>Register <a href="{% url 'register' %}" data-toggle="tooltip" data-placement="top"
						title="Click here to Register">here</a> and buy this book!</strong></p>
			{% endif %}
			<p><strong>Category:</strong> {{ book.category_name }}</p>
			<p><strong>IBSN:</strong> {{ book.isbn }}</p>
			<hr>
			<img class="book-author-image mb-3 mr-3" src="{{ book.author.photo.url }}" alt="{{ book.author }}">
			<p><strong>Author:</strong> {{ book.author }}</p>
			<p>{{ book.author.description }}</p>
		</div>
	</div>
</div>

<!-- Reviews multitabs -->
<div class="container">
	<div row class="mb-5">
		<div class="tab tab-border">
			<button class="tablinks" onclick="multiTab(event, 'reviews')" id="defaultOpen"
				role="tab" aria-selected="true" aria-controls="reviews-tab">
				<strong>Reviews</strong>
			</button>
			<button class="tablinks" onclick="multiTab(event, 'write-a-review')"
				role="tab" aria-selected="false" aria-controls="write-tab">
				<strong>Write a review</strong>
			</button>
		</div>

        <!-- Reviews -->
		<div id="reviews" class="tabcontent">
			<div class="row p-4">
				<div class="review-comments">
					{% if reviews %}
					{% for review in reviews %}
					<div class="col-md-3 user-review" id="content-desktop-tablet">
						<p><strong>{{ review.user }}</strong></p>
						<p>Rated this book {{ review.rating }}/5</p>
						<p>{{ review.pub_date }}</p>
					</div>
					<div class="col-md-9 offset-3" id="content-desktop-tablet">
						<p>{{ review.comment }}</p>
					</div>
					<hr class="mt-5" id="content-desktop-tablet">
					<div class="col-12 mobile-user-review" id="content-mobile">
						<p><strong>{{ review.user }}</strong></p>
						<p>Rated this book {{ review.rating }}/5</p>
						<p>{{ review.pub_date }}</p>
					</div>
					<div class="col-12 mobile-user-review" id="content-mobile">
						<p>{{ review.comment }}</p>
					</div>
				</div>

				<div class="review-comments">
					{% endfor %}
					{% else %}
					<div class="row pl-5">
						<p><strong>No reviews are available.</strong></p>
					</div>
					{% endif %}
				</div>
			</div>
		</div>

        <!-- Reviews form -->
		<div id="reviewform">
			<div id="write-a-review" class="tabcontent">
				<div class="row p-4">
					{% if user.is_authenticated %}
					<form method="POST" enctype="multipart/form-data" class="review-form">
						{% csrf_token %}
						{{ form | as_bootstrap }}
						<div class="btn-review">
							<button type="submit" class="btn btn-width btn-custom">Add Review</button>
						</div>
					</form>
					{% else %}
					<div class="row p-5">
						<h4><a class="custom-link" href="{% url 'login' %}">
								<i class="fa fa-sign-in-alt fa" data-toggle="tooltip" data-placement="top"
									title="Sign in" aria-hidden="true"></i>
							</a> to write a review
						</h4>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}