{% extends 'base.html' %}
{% block content %}

<div class="container">
	<h1>All Books</h1>
	<div class="row mt-4 mb-4">

		<div class="col-md-4">
			<div class="card text-center">
				<img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51HoTTx2ZhL._SX327_BO1,204,203,200_.jpg" alt="">
					<h5>A Song of Ice and Fire (1)</h3>
						<p>George R.R. Marting</p>
						<h6>£10.00</h6>
						<button class="btn btn-custom btn-sm mb-4">Add to Cart</button>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card text-center">
				<img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61la0-aX99L._SX324_BO1,204,203,200_.jpg" alt="">
					<h5>I Am Number Four (1)</h3>
						<p>Pittacus Lore</p>
						<h6>£10.00</h6>
						<button class="btn btn-custom btn-sm mb-4">Add to Cart</button>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card text-center">
				<img class="card-img-top" src="https://m.media-amazon.com/images/I/41fOvOon9LL._SY346_.jpg" alt="">
					<h5>The Hunger Games (1)</h3>
						<p>Suzanne Collins</p>
						<h6>£10.00</h6>
						<button class="btn btn-custom btn-sm mb-4">Add to Cart</button>
			</div>
		</div>
	</div>

	<div class="row mt-2 mb-4">
		<div class="col-md-4">
			<div class="card text-center">
				<img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51HoTTx2ZhL._SX327_BO1,204,203,200_.jpg" alt="">
					<h5>A Song of Ice and Fire (1)</h3>
						<p>George R.R. Marting</p>
						<h6>£10.00</h6>
						<button class="btn btn-custom btn-sm mb-4">Add to Cart</button>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card text-center">
				<img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61la0-aX99L._SX324_BO1,204,203,200_.jpg" alt="">
					<h5>I Am Number Four (1)</h3>
						<p>Pittacus Lore</p>
						<h6>£10.00</h6>
						<button class="btn btn-custom btn-sm mb-4">Add to Cart</button>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card text-center">
				<img class="card-img-top" src="https://m.media-amazon.com/images/I/41fOvOon9LL._SY346_.jpg" alt="">
					<h5>The Hunger Games (1)</h3>
						<p>Suzanne Collins</p>
						<h6>£10.00</h6>
						<button class="btn btn-custom btn-sm mb-4">Add to Cart</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}