{% extends 'base.html' %}
{% block title %} | Search {% endblock %}
{% block content %}

<div class="container">
	<a href="{% url 'books' %}" class="mt-4 btn btn-custom"><i class="fas fa-arrow-left"></i> Reset</a>
	<div class="card p-4 mt-4 mb-4 search-card">
		<h4 class="text-center">Search</h4>
		<form action="{% url 'search' %}" form-group>
			<div class="row">
				<div class="col-md-4">
					<input type="text" name="title" class="form-control" value="{{ values.title }}"
						placeholder="by title">
				</div>
				<div class="col-md-4">
					<select name="author" class="form-control">
						<option name="author" selected="true" disabled="disabled">by author</option>
						{% for book in books_all %}
						<option name=value="{{ book.author }}">{{ book.author }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-md-4">
					<input type="text" name="category-name" placeholder="by category" class="form-control">
				</div>
				<button type="submit" class="btn btn-custom btn-width btn-sm mt-4"><i class="fas fa-search"></i>
					Search</button>
			</div>
		</form>
	</div>

	<div class="container mt-4">
		<div class="row mt-4 mb-4">
			{% if books %}
			{% for book in books %}
			<div class="col-md-4 mt-4 mb-4">
				<div class="card text-center">
					<a href="{% url 'book' book.id %}">
						<img class="card-img-top" src="{{ book.book_image.url }}" alt="{{ book.title }}">
					</a>
					<h5>{{ book.title }}</h5>
					<p>{{ book.author }}</p>
					{% if user.is_authenticated %}
					{% if book.stock <= 0 %}
					<p><b>Out of Stock</b></p>
					{% else %}
					<a href="{% url 'cart:add_cart' book.id %}">
						<button class="btn btn-custom mb-4"><i class="fas fa-shopping-cart"></i>
							Add to Cart
						</button>
					</a>
					{% endif %}
					{% else %}
					<a href="{% url 'book' book.id %}" class="btn btn-custom mb-4">More Info</a>
					{% endif %}
				</div>
			</div>
			{% endfor %}
			{% else %}
			<p>There are no books available!</p>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}