/* google fonts */
@import url("https://fonts.googleapis.com/css?family=Noto+Serif|Roboto&display=swap");

/* browser reset margins & paddings */
* {
  margin: 0;
  padding: 0;
}

/* **************************************** HOME PAGE **************************************** */

/* hompage */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* background image */
.bg {
  background-image: url("https://cdn.pixabay.com/photo/2016/02/11/01/53/wall-paper-1193001_960_720.jpg");
  height: 100%;
  background-position: center;
  background-repeat: repeat;
}

/* navigation */
.navbar {
  background-color: #212529;
  color: #fff;
  text-transform: uppercase;
}

a.nav-link {
  font-family: "Roboto";
}

/* carousel */
.carousel-item img {
  height: 450px !important;
}

/* footer */
#main-footer {
  background-color: #212529;
  color: #fff;
  min-height: 120px;
  width: 100%;
  bottom: 0;
}

.footer-img {
  margin-bottom: 10px;
  width: 10%;
}

.social a {
  color: #fff;
  margin: 2px;
}

/* ************************************ BROWSE ALL BOOKS PAGE ************************************ */

.search-card {
  background-color: #f8f9fa;;
}

/* feature image */
.card-img-top {
  width: 200px;
  margin: 5% auto;
  height: 300px;
  box-shadow: 5px 5px 5px #666;
}

/* button */
.btn-custom {
  background-color: #007bff;
  color: rgb(255, 255, 255);
  margin: auto;
  border-radius: 15px;
  height: 40px;
}

.btn-custom:hover {
  background-color: #0069d9;
  color: rgb(255, 255, 255);
}

/* pagination */
.page-link {
  color: #007bff;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

/* ************************************ SINGLE BOOK PAGE ************************************ */

.book-cover-image {
  width: 100%;
  box-shadow: 5px 5px 5px #666;
}

.book-author-image {
  width: 15%;
  border-radius: 5px;
}

/* ************************************ REGISTER PAGE ************************************ */

.card-header {
	background-color: #fab567;;
	color: #fff;
}