{% extends 'base.html' %}
{% load static %}
{% block title %} | Thank you {% endblock %}
{% block content %}

<div class="container mt-4">
	<div class="text-center mb-4 mt-4">
		<h1 class="text-center my_title mb-4">
			Thank you for your order
		</h1>
		<h4>Your order number is <b>{{ customer_order.id }} </b></h4>
		<br>
		<p>Your order has been recieved and is in the process of being dispatched
			<br>
			An email confirmation will be sent to you shortly giving you details of your purchase.
		</p>
		<br />
		<a href="{% url 'index' %}" class="m-auto"><button class="btn btn-custom">Return to home page</button></a>
	</div>
</div>

{% endblock %}